<ion-header [translucent]="true" class="h-12 flex items-center">
  <ion-toolbar>
    <ion-title>TaPs - Chat</ion-title>
    <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="!currentUser && !isLoading" class="flex items-center flex-col h-full justify-center">
    <div class="w-3/4">
      <h1 class="pr-[25%] pb-2">Please enter your Username to continue</h1>
      <ion-input label="Your Username" #username placeholder="Evan" type="text" fill="outline"
        labelPlacement="floating"></ion-input>
      <ion-button class="mt-4" expand="block" (click)="login(username.value!+'') "
        [disabled]="!username.value">Login</ion-button>
    </div>

  </div>
  <div *ngIf="currentUser" class="flex flex-col h-full">
    <app-chat-selector [currentUser]="currentUser"></app-chat-selector>
  </div>
</ion-content>