<div [ngClass]="{'mirror': !isSender}" class="flex justify-end mx-4">
  <div (press)="longPress.emit()" class="relative w-[max(10rem,20%)] m-4 p-2 py-3 rounded-xl" [ngClass]="{'bg-blue-400': isSender, 'bg-gray-700': !isSender}">
    
    <h1 *ngIf="!message?.isImage" [ngClass]="{'mirror': !isSender}" class="text-white">
      <span *ngFor="let textPart of text" (click)="open(textPart)" [ngClass]="{'hyerlink': textPart.startsWith('https://')}" >
        {{textPart}}
      </span>
    </h1>
    <div [ngClass]="{'mirror': !isSender}">
      <img *ngIf="message?.isImage" [src]="message?.text" class="w-full rounded-xl">
    
      <span  class="text-sm">{{message?.location}}</span>  
    </div>
    <div class="absolute rounded right-[-8px] bottom-[-12px] rotate-[130deg] w-3  h-10">
      <div class="h-2 w-2 rounded-full" [ngClass]="{'bg-blue-400': isSender, 'bg-gray-700': !isSender}"></div>
      <div class="h-3 w-3 rounded-full" [ngClass]="{'bg-blue-400': isSender, 'bg-gray-700': !isSender}"></div>
    </div>
  </div>
</div>