<ion-header class="h-12 flex items-center">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="opositeUser" class="h-8">Chat with {{opositeUser}}</ion-title>
        <ion-progress-bar *ngIf="!opositeUser || !finishedLoading" type="indeterminate"></ion-progress-bar>
    </ion-toolbar>
</ion-header>
<ion-content #content class="overflow-scroll">
    <div class="bg-slate-700 rounded-2xl w-80 h-[9rem] mx-auto mt-8 mb-4 p-4">
        <div class="flex justify-center">
            <ion-icon name="lock-closed" class="text-yellow-400 inline-block mr-2"></ion-icon>    
            <h3 class="text-center" class="text-yellow-400 inline">This chat is encrypted</h3>
        </div>
            <p class="text-center" class="text-yellow-400 text-center">Messages you send to this chat are secured with end-to-end between the server and your smartphone.</p>
            <p class="text-yellow-400 text-center">We would never sell your data<span class="text-[8px] align-text-top">*</span></p>
        </div>
    <div *ngIf="!finishedLoading">
        <app-skeleton-message [version]="0" [isSender]="true"></app-skeleton-message>
        <app-skeleton-message [version]="1" [isSender]="false"></app-skeleton-message>
        <app-skeleton-message [version]="2" [isSender]="true"></app-skeleton-message>
        <app-skeleton-message [version]="0" [isSender]="false"></app-skeleton-message>
        <app-skeleton-message [version]="1" [isSender]="true"></app-skeleton-message>
    </div>
    <div *ngIf="username && messages">
        <app-message (longPress)="selectMessage(message)" *ngFor="let message of messages"
        [isSender]="message.author.username == username" [message]="message || ''"></app-message>
        <div *ngIf="sendingImage" class="flex flex-col items-center mb-4">
            <h1 class="mb-4">Sending Image</h1>
            <ion-spinner class="inline-block"></ion-spinner>
        </div>
    </div>
    <ion-modal [isOpen]="selectedMessage !== undefined && !isEditing" [initialBreakpoint]="0.25"
        [breakpoints]="[0, 0.25, 0.5, 0.75]" handleBehavior="cycle" (didDismiss)="closeDialog()">
        <ng-template>
            <ion-content class="ion-padding">
                <ion-list>
                    <ion-item *ngIf="userId == selectedMessage?.author?.id" (click)="deleteMessage()">
                        <ion-label>Delete</ion-label>
                    </ion-item>
                    <ion-item (click)="copyMessage()">
                        <ion-label>Copy</ion-label>
                    </ion-item>
                    <ion-item *ngIf="userId == selectedMessage?.author?.id && !selectedMessage?.isImage"
                        (click)="inputField.setFocus();editMessage()">
                        <ion-label>Edit</ion-label>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ng-template>
    </ion-modal>
</ion-content>
<ion-toolbar>
    <div *ngIf="isEditing" class="h-8 flex items-center justify-between pl-4">
        <ion-text>You are currently editing a message</ion-text>
        <ion-button (click)="cancelEdit()" color="transparent" class="p-0">
            <ion-icon name="close"></ion-icon>
        </ion-button>
    </div>
    <div class="flex items-center">
        <ion-button (click)="initSendPhoto()" color="transparent" class="p-0">
            <ion-icon name="camera"></ion-icon>
        </ion-button>

        <ion-input #inputField class="w-full inline-block" [(ngModel)]="message" placeholder="Type a message..."
            fill="outlined"></ion-input>
        <ion-button (click)="sendMessage()" color="transparent" class="p-0">
            <ion-icon name="send"></ion-icon>
        </ion-button>
    </div>
</ion-toolbar>